version: '3.8'
services:
  mailer:
    build: .
    image: simple-mailer:latest
    restart: unless-stopped
    env_file: .env
    ports:
    - "3000:3000"
    volumes:
    - ./:/app
    - /app/node_modules
    command: npm run dev

  